IO_LOC  "seg_out[6]" 33;

IO_LOC  "seg_out[5]" 30;
IO_PORT "seg_out[5]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_out[4]" 29;
IO_PORT "seg_out[4]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_out[3]" 28;
IO_PORT "seg_out[3]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_out[2]" 27;
IO_PORT "seg_out[2]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_out[1]" 26;
IO_PORT "seg_out[1]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_out[0]" 25;
IO_PORT "seg_out[0]" IO_TYPE=LVCMOS33;

IO_LOC  "bin_in[3]" 39;
IO_PORT "bin_in[3]" IO_TYPE=LVCMOS33;

IO_LOC  "bin_in[2]" 36;
IO_PORT "bin_in[2]" IO_TYPE=LVCMOS33;

IO_LOC  "bin_in[1]" 37;
IO_PORT "bin_in[1]" IO_TYPE=LVCMOS33;

IO_LOC  "bin_in[0]" 38;
IO_PORT "bin_in[0]" IO_TYPE=LVCMOS33;
